{{>header}}
{{>navbar}}

<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>
    <section>
        <form class="form1" action="/register" method="POST">
            <input type="text" placeholder="Phone" name="phone">
            <input type="email" placeholder="Email" name="email">
            <input type="password" placeholder="New Password" name="password">
            <input type="password" placeholder="Conform Password" name="conformPassword">

            <div class="btn">
                <button type="submit" >Register Now</button>
            </div>

        </form>
    </section>
</body>
</html>