{{>header}}

<section class="sec-2">
        <div class="cardss container">
            <div class="card-1">
                <h2>Lorem, ipsum.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime illo dolorum rerum quod obcaecati eum, iusto voluptatem dolores laboriosam ut, doloribus ex? Quis molestiae, at eum rerum non omnis facilis.</p>
                <button>more</button>
            </div>
            <div class="card-1">
                <h2>Lorem, ipsum.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime illo dolorum rerum quod obcaecati eum, iusto voluptatem dolores laboriosam ut, doloribus ex? Quis molestiae, at eum rerum non omnis facilis.</p>
                <button>more</button>
            </div>
            <div class="card-1">
                <h2>Lorem, ipsum.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime illo dolorum rerum quod obcaecati eum, iusto voluptatem dolores laboriosam ut, doloribus ex? Quis molestiae, at eum rerum non omnis facilis.</p>
                <button>more</button>
            </div>
        </div>
    </section>


