<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/CSS/styles.css">
    <title>Document</title>
</head>
<body>
   <section class="header">
        <!-- navbar starts -->
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
              <a class="navbar-brand" href="#">LOGO</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" aria-current="page" href="#">Home</a>
                  <a class="nav-link" href="#">Login</a>
                  <a class="nav-link" href="#">Registration</a>
                  
                </div>
              </div>
            </div>
          </nav>

          <!-- navbar ends -->
       <div class="head container">
    <h1>Welcome to my Website</h1>
    <button>learn more</button>
          </div>
</body>
</html>